@import url('http://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Spartan', sans-serif;
}

h1 {
   font-size: 50px;
   line-height: 64px;
   color: #222;
}

h2 {
   font-size: 46px;
   line-height: 54px;
   color: #222;
}

h4 {
   font-size: 20px;
   color: #222;
}

h6 {
   font-weight: 700;
   font-size: 12px;
}

.section-p1 {
   padding: 40px 80px;
   background-color: white;
}

html {
   height: 100%;
}

body {
   width: 100%;
   height: 100%;
   
   display: flex;
   flex-direction: column;
}

/* ---------------- Home Page ----------------*/
/*  Header Home  */
.logo {
   width: 150px;

}

#header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background: white;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}

#navbar {
   display: flex;
   align-items: center;
   justify-content: center;
}

#navbar li {
   list-style: none;
   padding: 0 20px;
   position: relative;
}

#navbar li a {
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   color: #1a1a1a;
   transition: 0.3s ease;
   cursor: pointer;
}

#navbar li a.active {
   cursor: auto;
}

#navbar li a:hover,
#navbar li a.active {
   color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
   content: "";
   width: 30%;
   height: 2px;
   background: #088178;
   position: absolute;
   bottom: -4px;
   left: 20px;
}

/* Main */
#hero {
   background-image: url("/public/img/hero4.png");
   height: 90vh;
   width: 100%;
   background-size: cover;
   background-position: top 25% right 0;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

#hero h4 {
   padding-bottom: 15px;
}

#hero h1 {
   color: #088178;
}

#hero button {
   background-image: url("/public/img/button.png");
   background-color: transparent;
   color: #088178;
   border: 0;
   padding: 14px 80px 14px 65px;
   background-repeat: no-repeat;
   font-weight: 700;
}

#feature {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

#feature .fe-box {
   width: auto;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
}

#feature .fe-box:hover {
   box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
   padding: 9px 8px 6px 8px;
   line-height: 1px;
   border-radius: 4px;
   color: #088178;
   background-color: #b7c7f6;
}

#feature .fe-box img {
   width: 100%;
   margin-bottom: 10px;
}

#products {
   text-align: center;
}

#products .pro-container {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}

#products .pro {
   width: 23%;
   min-width: 250px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
   margin: 15px 0;
   transition: 0.2s ease;
   position: relative;
}

#products .pro:hover {
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#products .pro img {
   width: 100%;
   border-radius: 20px;
}

#products .pro .des {
   text-align: start;
   padding: 10px 0;
}

#products .pro .des span {
   color: #606063;
   font-size: 12px;
}

#products .pro .des h5 {
   padding-top: 7px;
   color: #1a1a1a;
   font-size: 14px;
}

#products .pro .des h4 {
   padding-top: 7px;
   color: #088178;
   font-size: 15px;
   font-weight: 700;
}

#products .pro .cart {
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #e8f6ea;
   font-weight: 500;
   color: #088178;
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 10px;
}

#join {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("/public/img/banner/b2.jpg");
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}

#join h4,
#join h2 {
   color: #fff;
   padding-bottom: 25px;
}

/*  Footer Home  */
footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

footer .col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}

footer .logo {
   margin-bottom: 30px;
}

footer h4 {
   font-size: 14px;
   padding-bottom: 20px;
}

footer p {
   font-size: 13px;
   margin: 0 0 8px 0;
}

footer a {
   font-size: 13px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
}

footer .follow i {
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;
}

footer .install .row img {
   border: 1px solid #088178;
   border-radius: 6px;
   width: 150px;
   margin-right: 20px;
}

footer .install img {
   margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
   color: #088178;
}

footer .copyright {
   width: 100%;
   text-align: center;
}



/* ---------------- Shop Page ---------------- */
#filters-con {
   text-align: center;
   display: flex;
   padding-top: 20px;
   flex-wrap: wrap;
}
#filters-con .btn {
   width: auto;
}
#filter-text {
   margin-right: 15px;
   margin-top: 5px;
}
#filter {
   margin-right: 15px;
}
.list-group{
   margin-top: 10px;
   width: auto;
}
.list-group-item:hover{
background-color: #088178;
cursor: pointer;
}

#Shop-header {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("/public/img/banner/b4.jpg");
   width: 100%;
   height: 30vh;
   background-size: cover;
   background-position: center;
}

#Shop-header h2{
   padding-bottom: 25px;
   color: #fff;
}
#Shop-header h1 {
   color: #fff;
}

#page-nav {
   text-align: center;
}

#page-nav .page {
   text-decoration: none;
   background-color: #088178;
   padding: 15px 20px;
   border-radius: 4px;
   color: #fff;
   font-weight: 600;
   cursor: pointer;
   margin: 5px;
}
#page-nav .cur-page{
   text-decoration: none;
   background-color: #fff;
   padding: 15px 20px;
   border-radius: 4px;
   color: #088178;
   font-weight: 600;
   cursor: pointer;
   margin: 5px;
   border: 1px solid #088178;
}



/* ---------------- Product Page ---------------- */

#product-details {
   display: flex;
   margin-top: 20px;
}

#product-details .pro-big-pic .big {
   width: 100%;
}

#product-details .pro-big-pic {
   width: 40%;
   margin-right: 50px;
}

.small-img-g {
   display: flex;
   justify-content: space-between;
}

.small-img-col img {
   width: 100%;
   margin-top: 10px;
}

.small-img-col {
   flex-basis: 24%;
   cursor: pointer;
}

#product-details .text-details {
   width: 50%;
   padding-top: 30px;
}

#product-details .text-details h4 {
   padding: 40px 0 20px 0;
}

#product-details .text-details h2 {
   font-size: 26px;
}

#product-details .text-details select {
   display: block;
   padding: 5px 10px;
}

#product-details .text-details input {
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
   margin-top: 15px;
}

/* ---------------- About Page ---------------- */

#about-header {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("/public/img/about/banner.png");
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}
#social-header {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("/public/img/about/social.png");
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}

#about-header h2,
#about-header h1{
   color:#fff ;
}

#about-text{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#about-text img{
   width: 45%;
   height: auto;
   border-radius: 30px;
}

#hwr{
   padding-left: 40px;
}

.video{
   width: 70%;
   height: auto;
}

.video video{
   width: 100%;
   height: 100%;
   border-radius: 30px;
}

#soon{
   text-align: center;
   padding-right: 40px;
}

#soon h2{
   color: #088178;
   font: bold;
}

#soon #names{
   margin-top: 30px; 
}
#names .seller{
   text-decoration: none;
   background-color: #088178;
   padding: 15px 20px;
   border-radius: 4px;
   color: #fff;
   font-weight: 600;
   cursor: pointer;
   margin: 5px;
   margin-top: 30px; 
}
#names .cur{
   text-decoration: none;
   background-color: #fff;
   padding: 15px 20px;
   border-radius: 4px;
   color: #088178;
   font-weight: 600;
   cursor: pointer;
   margin: 5px;
   border: 1px solid #088178;
}
.mapouter{
   position:relative;
   text-align:right;
   height:500px;
   width:547px;
}

.gmap_canvas {
   overflow:hidden;
   background:none !important;
   height:500px;
   width:500px;
   align-self: center;

}
.twi-container {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}
.quote_frame{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("/public/img/about/twitter.png");
   width: 30%;
   height: 40vh;
   background-size: cover;
   background-position: center;
 }
 .quote_frame h2{
   font-size: 14px;
   color: #088178;
 } 
 .quote_frame h4{
   font-size: 12px;
 } 

 #twiters {
   text-align: center;
}

#twiters .twi-container {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}

#twiters .twi {
   width: 23%;
   height: auto;
   min-width: 250px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
   margin: 15px 0;
   transition: 0.2s ease;
   position: relative;
}

#twiters .twi:hover {
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#twiters .twi img {
   width: 15%;
   border-radius: 40px;
}

#twiters .twi .des {
   text-align: start;
   padding: 10px 0;
   height: 300px;
}

#twiters .twi .des span {
   color: #606063;
   font-size: 12px;
   
}

#twiters .twi .des h5 {
   padding-top: 7px;
   color: #1a1a1a;
   font-size: 14px;
}

#twiters .twi .des h4 {
   padding-top: 7px;
   color: #088178;
   font-size: 15px;
   font-weight: 700;
}

#twiters .twi .twit {
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #b7c7f6;
   font-weight: 500;
   color: #5c50c8;
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 10px;
}

/* ---------------- Login Page ---------------- */

.loginbody {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}


.jointext{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}


.sign {
	border-radius: 20px;
	border: 1px solid #088178;
	background-color: #088178;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 10px;
}

.signup {
	border-radius: 20px;
	border: 1px solid #fff;
	background-color: #fff;
	color: #1a1a1a;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 10px;
}

.sign:active {
	transform: scale(0.95);
}

.signup:active {
	transform: scale(0.95);
}

.l-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.l-input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container-login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}
.forgot{
    text-decoration: none;
    color: #088178;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #088178;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	right: 0;
}

input.disabled {
   background: red;
}

/* ---------------- Admin Page ---------------- */

main#admin-main {
   margin: 15px;
}

.chat-btn {
   position: fixed;
   right: 14px;
   bottom: 30px;
   cursor: pointer
}

.chat-btn .close {
   display: none
}

.chat-btn i {
   transition: all 0.9s ease
}

.chat-btn i {
   font-size: 22px;
   color: #fff !important
}

.chat-btn {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   background-color: #088178;
   color: #fff;
   font-size: 22px;
   border: none
}

.wrapper {
   position: fixed;
   right: 20px;
   bottom: 100px;
   width: 300px;
   height: 300px;
   background-color: rgb(247, 247, 247);
   border-radius: 5px;
   border-color: #088178;
   display: none;
}

#check:checked~.wrapper {
   display: initial;
}

.chat-header {
   padding: 13px;
   background-color: #088178;
   border-radius: 5px 5px 0px 0px;
   margin-bottom: 5px;
   color: #fff
}

.chat-form {
   padding: 1px
}

.chat-form input,
textarea,
button {
   margin-bottom: 10px
}

.chat-form textarea {
   resize: none;
   height: 180px;
   background-color: rgb(247, 247, 247);
}

.form-control:focus,
.btn:focus {
   box-shadow: none;
}

.btn,
.btn:focus,
.btn:hover {
   background-color: #088178;
   border: #088178
}

#check {
   display: none !important
}

input.table-input {
   width: 130px;
   text-align: center;
}

/* Supplier Page */

#sig-canvas {
   border: 2px dotted #CCCCCC;
   border-radius: 15px;
   cursor: crosshair;
 }

#register {
   text-align: center;
   margin: auto;
   width: 400px;
}

#register * {
   margin-top: 4px;
}

#register button {
   color: white;
}

#register div button {
   margin-top: -30%;
   width: 30px;
   margin-left: 4px;
   background-color: black;
}